



body{
    padding: 0;
    margin: 0;
}



.header-container{
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    align-items: center;
    height: 65px;
    /* margin-top: 15px; */
    padding-top: 10px;
    position: sticky;
    top: 0;
    z-index: 11;
    box-shadow: 0px 0px 5px #012970;
    
    
}
.logo{
    padding-left: 110px;
}

.nav-items{
    display: flex;
    list-style-type: none;
    gap: 25px;
    font-size: 16px;
    font-weight: 600;
    font-family: "Nunito Sans", sans-serif;
    color: #013289;
    position: relative;
    padding-right: 150px;
}

.nav-items li:hover{
    color: #4757f1;
    border-bottom: 3px solid #4154F1;
}

.drop-down{
    position: relative;

    /* display: inline-block; */
}

.drop-down:hover .ul2{
    display: block;
    transition-timing-function: ease-in-out;
}

.ul2{
    padding: 0px;
    position: absolute;
    top: 30px;
    display: none;
    list-style-type: none;
    background-color: #fffffffd;
    color: #013289;
    width: 175px;
    padding: 10px;
    /* display: none; */
}

.ul2 li{
    padding-top: 20px;
}
/* ==============hero section starts here================ */

.hero-container{
    display: flex;
    justify-content: space-between  ;
    /* flex-wrap: wrap; */
    background-color: #F2F5FC;
    /* height: 0vw; */
    padding-top: 40px;
    padding-bottom: 60px;
}




.hero-text{
     font-size: 48px;
    font-family: "Nunito Sans", sans-serif;
    /* box-sizing: border-box; */
    padding: 10px 120px ;
    margin-top: 90px;
    color: #012970;
    font-weight: 700;
    white-space: 50px;
    line-height: 50px;
}
.hero-text2{
    font-family: "Nunito Sans", sans-serif;
    color: #444444;
    padding: 5px 120px ;
    font-size: 28px;
}

.btn-container{
    padding: 5px 120px ;    
    margin-top: 20px;
    display: flex;
    align-items: center;  
    
}

.btn{
    padding: 13px 35px;
    font-size: 17px;
    text-align: center;
    display: flex;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #4154F1;
    background-color: #4154F1;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    text-align: center;
    /* margin-left: 100px; */
    color: white;
    align-items: center;
    width: 140px;
}

.btn-arrow{
    padding-left:8px;
}
.btn:hover .btn-arrow{
    padding-left: 15px;
    transition-property: all;
    transition: 0.2s;
    transition-timing-function: ease-out;

}

.hero-logo-default{
    padding-right: 120px;
    margin-top: 50px;
    height:450px;
     width:600px;
}

/* =================intro -section ============ */


.intro-container{
    display: flex;
    justify-content: center;
    padding: 5px 120px ;
    margin-top: 50px;
    /* margin-top: 50px; */
    font-family: "Nunito Sans", sans-serif;
}

.intro-text-container{
    background-color: #F2F5FC;
    padding: 50px 50px;
   
}

.short-heading{
    font-size: 16px;
    color: #4757f1;
    font-weight: 700;
}
.big-heading{
    font-size: 25px;
    color: #012970;
    font-weight: 700;
    padding-top: 20px;
    
}

.text{
font-size: 16.5px;
padding-top: 20px;
color: #444444;
}


/* =======intro section ends ============ */

/* =================coding langauges===== */
.text-heading-container{
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
    margin-top: 100px;
}

.short-heading2{
    font-size: 16px;
    color: #4757f1;
    font-weight: 700;
}
.big-heading2{
    font-size: 40px;
    color: #012970;
    font-weight: 700;
    padding-top: 20px;
    
    
}


.languages{
    margin-top: 50px;
    padding: 5px 120px ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.circles{
    display: flex;
    justify-content: center;
    gap: 8px;
}
/* ================cards ============= */

.cards-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px 40px;

}

.card{
    text-align: center;
    border-bottom: 5px solid #2db6fa;
    font-family: "Nunito Sans", sans-serif;
    margin-top: 50px;
    border-radius: 7px;
    
    padding: 50px 30px 70px 30px;

}
.card:hover {
    background-color: #2db6fa;
    color: white;
    transition-duration: 0.3s;
}

.card:hover .message-icon{
    background-color:white;
}

.card:hover  .card-heading{
    color: white;
}


.message-icon{
    margin-bottom: 50px;
    background-color: #C2FFFF;
    border-radius: 5px;

    padding: 30px;
}


.card-heading{
    font-size: 30px;
    font-weight: 600;
    /* margin: px 0px; */
    color: #444444;
    line-height: 25px;
}

.card-text{
    font-size: 18px;
    font-weight: 500;
}


/* ======2nd card css=============== */
.card2{
    text-align: center;
    border-bottom: 5px solid #F68C09;
    font-family: "Nunito Sans", sans-serif;
    margin-top: 50px;
    border-radius: 7px;
    
    padding: 50px 30px 70px 30px;

}
.card2:hover {
    background-color: #F68C09;
    color: white;
    transition-duration: 0.3s;
}

.card2:hover .message-icon{
    background-color:white;
}

.card2:hover  .card-heading{
    color: white;
}
.message-icon2{
    margin-bottom: 50px;
    background-color: #f1cc9e;
    border-radius: 5px;

    padding: 30px;
}

/* ----------------3rd card----------------- */

.card3{
    text-align: center;
    border-bottom: 5px solid #08DA4E;
    font-family: "Nunito Sans", sans-serif;
    margin-top: 50px;
    border-radius: 7px;
    
    padding: 50px 30px 70px 30px;

}
.card3:hover {
    background-color: #08DA4E;
    color: white;
    transition-duration: 0.3s;
}

.card3:hover .message-icon3{
    background-color:white;
}

.card3:hover  .card-heading{
    color: white;
}
.message-icon3{
    margin-bottom: 50px;
    background-color: #b5f1ba;
    border-radius: 5px;

    padding: 30px;
}


/* =====4th card============== */


.card4{
    text-align: center;
    border-bottom: 5px solid #E9222C;
    font-family: "Nunito Sans", sans-serif;
    margin-top: 50px;
    border-radius: 7px;
    
    padding: 50px 40px 70px 30px;

}
.card4:hover {
    background-color: #E9222C;
    color: white;
    transition-duration: 0.3s;
}

.card4:hover .message-icon4{
    background-color:white;
}

.card4:hover  .card-heading{
    color: white;
}
.message-icon4{
    margin-bottom: 50px;
    background-color: #ffffff;
    border-radius: 5px;

    padding: 30px;
}

/* ===================5th card================== */

.card5{
    text-align: center;
    border-bottom: 5px solid #B50EDF;
    font-family: "Nunito Sans", sans-serif;
    margin-top: 50px;
    border-radius: 7px;
    
    padding: 50px 40px 70px 30px;

}
.card5:hover {
    background-color: #B50EDF;
    color: white;
    transition-duration: 0.3s;
}

.card5:hover .message-icon5{
    background-color:white;
}

.card5:hover  .card-heading{
    color: white;
}
.message-icon5{
    margin-bottom: 50px;
    background-color: #dac7df;
    border-radius: 5px;

    padding: 30px;
}

.more-info{
    font-size: 20px;
    padding-top: 20px;
    color: #B50EDF;
}




/* ===========6================ */
.card6{
    text-align: center;
    border-bottom: 5px solid #F51F9C;
    font-family: "Nunito Sans", sans-serif;
    margin-top: 50px;
    border-radius: 7px;
    
    padding: 50px 40px 70px 30px;

}
.card6:hover {
    background-color: #F51F9C;
    color: white;
    transition-duration: 0.3s;
}

.card6:hover .message-icon6{
    background-color:white;
}

.card6:hover  .card-heading{
    color: white;
}
.message-icon6{
    margin-bottom: 50px;
    background-color: #f1b5d8;
    border-radius: 5px;

    padding: 30px;
}



/* cards css ends------------------ */


/* =================core -value section starts from here ======================= */

.core-value-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 100px ;
    margin-top: 50px;
    font-family: "Nunito Sans", sans-serif;
    color: #013289;
    font-weight: 700;


}

.box-container{
    display: flex;
    gap: 25px;
}

.core-text{
    margin-top: 20px;
    /* margin-left: 30px; */
}


.row{
    /* display: flex; */
}

.box{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 200px;
    /* border: 1px solid black; */
    padding: 25px 20px;
    font-size: 18px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 40px #d5daf0;
    
}

.box:hover i{
    background-color: #4154F1;
    color: white;
    transition: 0.2s;

}

.box i{
    background-color: #d5daf0;
    padding: 7px 10px;
    border-radius: 4px;
}

.box span{
 
}

.hero-logo-laptop{
    display: none;
}

.hero-logo-default{
    display: none;
}

.hero-logo-mobile{
    display: none;
}

.menu-icon{
    display: none;
}

.intro-logo-default{
    display: block;
}
.intro-logo-laptop{
    display: none;
}
.intro-logo-mobile{
    display: none;
}

.core-logo{
    display: block;
}
.core-logo-laptop{
    display: none;
}
.core-logo-mobile{
    display: none;
}






/* ----------------portfolio section css==================== */
.portfolio-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 90px;
    
    flex-wrap: wrap;
}

.portfolio{
    position: relative;
    margin-bottom: 20px;
    
}

.portfolio:hover .portfolio-text{
    display: block;
   transition-duration: 1s;
}

.portfolio-img{
    width: 350px;
    height: 350px;
    overflow: hidden;
}

.portfolio-img img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transition: transform 0.5s ease;
}
.portfolio:hover img {
    transform: scale(1.1); 
  }


.portfolio:hover .portfolio-img{
  
    /* position: relative; */
}
.portfolio-text{
    position: absolute;
    font-size: larger;
    color: #012970;
    /* background-color: #C2FFFF; */
    top: 120px;
    border-radius: 4px;
    display: none;
    justify-content: center;
    text-align: center;
}

.text2{
    font-size: 20px;
    font-weight: 800;
    font-family: "Nunito Sans", sans-serif;
    text-shadow: 0px 0px 80px #4154F1;
}


.portfolio-navbar ul{
    display: flex;
    justify-content: center;
    color: #585858;
    font-size: 16px;
    font-weight: 700;
    /* font-family: "Nunito Sans", sans-serif; */
    font-family:sans-serif;
    text-align: center;
    margin-top: 30px;
    list-style: none;
    gap: 20px;
  
       
}

.portfolio-navbar li{
    
    padding: 7px 20px;
    border-radius: 50px; 
     border: 1px solid #ffffff;
}

#all{
    color: #2e63be;
    border: 1px solid #2e63be;
}

#app:hover , #web:hover{
    color: #2e63be;
    border: 1px solid #2e63be;
    transition: 0.3s;
}

/* ===================portfolio ends======== */



/* ====================recommandation starts================= */


.rec-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    /* padding: 0px 10px; */
}

#rec2{
    box-shadow: 0px 0px 17px #dadadf;
    border-radius: 4px;
}

.rec-card{
   
    padding: 20px;

}

.rec-text{
   width: 300px;
   font-size: 20px;
   color: rgb(68, 64, 64);
   /* font-family: "Nunito Sans", sans-serif; */

}

.rec-img{
    border-radius: 50%;
    height:150px;
     width:150px;
}

#rec1,#rec3{
    opacity: 0.3;
    box-shadow: 0px 0px 17px #dadadf;

}



/* ======================rec section edns================ */



/* ======================career section starts================== */



.career{
   display: flex;
   justify-content: start;
   text-align: center;
   flex-wrap: wrap;
   margin-top: 30px;
   padding-left: 50px;
}


.career-card{
    padding: 30px;
    font-family: "Nunito Sans", sans-serif;
    /* border: 1px solid rgb(185, 185, 185); */
    box-shadow: 0px 0px 10px #dadadf;
    width: 300px;

    margin-left: 30px;

}




.career-heading{
    font-size: 20px;
    font-family: "Nunito Sans", sans-serif;
    color: #012970;
    font-weight: 700;
    /* padding-top: 20px; */
    padding: 20px 20px;  
}

.career-bg-text{
    font-size: 20px;
    margin-top: 20px;
    font-family: "Nunito Sans", sans-serif;
    color: white;
    background-color: #2e63be;
    font-weight: 700;
    padding: 5px 8px;
    border-radius: 40px;
    /* padding-top: 20px; */
}

.career-text{
    width: 300px;
    font-size: 17px;
    margin-top: 30px;
    /* padding: 20px; */
    color: rgb(68, 64, 64);
    /* font-family: "Nunito Sans", sans-serif; */
 
 }


.career-card:hover .career-img{
    transform: scale(0.9);
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
.career-card:hover{
    box-shadow: 0px 0px 20px #dadadf;

}













/* ============all media querries */

@media(min-width:1201px){
    .hero-logo-default{
        display: block;     
    }    

    
}


@media (max-width:1200px){
    .nav-items{
        display: none;
    }
    .menu-icon{
        display: block;
        padding-right: 45px;
    }  
    .hero-text,.hero-text2{
        text-align: center;
    }
    .btn-container{
        justify-content: center;
    }
    .hero-logo-laptop{
        display: flex;
        justify-content: center;
        margin: 0px auto;
        margin-top: 20px;
    }
    .intro-logo-default{
        display: none;
    }
    .intro-logo-laptop{
        display: flex;
        justify-content: center;
        
        
    }
    .intro-container{
        display: block;
        margin: 0 auto;
        padding: 0px 200px;
        margin-top: 50px;
    }
    .core-logo{
        display: none;
    }
    .core-logo-laptop{
        display: block;
    }
    .box{
        width: 300px;
        margin-top: 50px;
    }
    .core-value-container{
        justify-content: center;
    }
}




@media(max-width:990px){
    .hero-logo-lower{
        display: block;
    }

    .logo{
        padding: 5px 15px;
    }

    .hero-container{
        display: block;
        padding:80px 0px;
    }

    .hero-text{
        font-size: 33px;
        font-weight: 700;
        line-height: 38px;
        margin-top: 0;
        
    }
    .hero-text2{
        font-size: 24px;
    }

    .hero-text, .hero-text2{
        padding: 5px 0px;
    }

    .hero-logo-mobile{
        display: flex;
        justify-content: center;
        margin: 0 auto;
        margin-top: 40px;
    }

    .hero-logo-laptop{
        display: none;
    }

    .hero-logo-default{
        display: none;
    }
  

    .intro-logo-default{
        display: none;
    }

   .intro-logo-laptop{
    display: none;
    }

    .intro-text-container{
       display: flex;
       justify-content: center;
       flex-direction: column;
       align-items: center;
    }

    .intro-logo-mobile{
        display: flex;
        justify-content: center;
        
        
    }
    .intro-container{
        display: block;
        padding: 0px 20px;
        margin: 0 auto;
        margin-top: 50px;
    }
    .short-heading2{
        font-size: 15px;
    }
    .big-heading2{
        font-size: 30px;
    }
    .languages{
        padding: 5px 2px;
    }
    #tailwind, #node {
        display: none;
    }
    .cards-container{
        padding: 5px 10px;
    }

    .card-heading{
        font-size: 25px;
    }

    .core-logo{
        display: none;
    }
    .core-logo-laptop{
        display: none;
    }
    .core-logo-mobile{
        display: block;
    }

    .box{
        display: block;
        width: 410px;
        margin-top: 0px;      
    }

    .box i{
        margin-right: 10px;
    }
    
    .row{
        margin-top: 60px;   
    }

    .box-container{
        flex-direction: column;
        gap: 0px;
    }
    .core-value-container{
        justify-content: center;
    }
    #rec1,#rec3{
        display: none;
    }
    .career{
        justify-content: center;
        padding: 0;
        
    }
    .career-card{
        margin-bottom: 30px;
    }

}





/* for small laptops- */
@media screen and (min-width:991px) and (max-width:1200px) {
    .hero-container{
        flex-wrap: wrap;
    }
    
    .hero-logo-{
        display: block;
    }
    

}